<h1>Introduzca el nombre del minino</h1>
<form action="/cats/edit/{{this.cat._id}}" method="POST">
  <label for="cat-name">Nombre</label>
  <input type="text" id="cat-name" name="name" value="{{this.cat.name}}"/>
  <button type="submit">Submit</button>
</form>