
  <h1>List all cats</h1>
  <a href="/cats/create">Create cat</a>
  <ul>
  {{#each cats}}
    <li>
      <a href="/cats/{{this._id}}"> 
        {{ this.name }}
      </a>
      <form action="/cats/{{this._id}}" method="POST">
        <button type="submit" style="cursor: pointer;">delete</button>
      </form>
      <form action="/cats/edit/{{this._id}}" method="GET">
        <button type="submit" style="cursor: pointer;">edit</button>
      </form>
    </li>
  {{/each}}
  </ul>